:root{
    --color-principal: #232931;
    --color-secundario: #393e46;
    --color-y: #4ecca3;
    --color-x: #eeeeee;
}

body{
    background-color: var(--color-principal);
}

.alert{
    background-color: var(--color-secundario);
    color: var(--color-x);
}

#botonDeInicio{
    background-color: var(--color-y);
}

.tarjeta{
    /*height: 40%;*/
    /*background-image: url("../img/signo interrogacion.jpg");*/
}

#barraTiempoYBotonInicio{
    margin-bottom: 10px;
}

h1{
    font-size: 900%;
}

.oculto{
    display: none;
}

.imgInterrogacion{
    height: 11em;
    width: 20em;
    cursor: pointer;
    background-color: var(--color-y);
}

.imgInterrogacion:hover{
    /*border-color: #b1dfbb;*/
    border-color: var(--color-x);
    border: 100px;
}


.imgFruta{
    height: 11em;
    width: 20em;
    background-color: var(--color-secundario);
}

#mensajeParaGanador{
    color: var(--color-y);
}