body{
    background-color: #aee6e6;
}
.tarjeta{
    /*height: 40%;*/
    /*background-image: url("../img/signo interrogacion.jpg");*/
}

#barraTiempoYBotonInicio{
    margin-bottom: 10px;
}

h1{
    font-size: 200px;
}

.oculto{
    display: none;
}

.imgInterrogacion{
    height: 190px;
    width: 300px;
    cursor: pointer;
}

.imgInterrogacion:hover{
    /*border-color: #b1dfbb;*/
    border-color: #ffa45b;
}


.imgFruta{
    height: 190px;
    width: 300px;
}
